<link rel="stylesheet" href="styles.css">
<script src="https://unpkg.com/vue"></script>

<div id="desafio">
	<h2>#01</h2>
	<div>
		<button @click="iniciarEfeito">Iniciar Efeito</button>
		<div id="efeito" :class="classe1"></div>
	</div>

	<h2>#02</h2>
	<div :class="[{perigo}, 'quadrado']">Estou sem classe CSS :(</div>

	<h2>#03</h2>
	<div>
		<input type="text" v-model="classe3">
		<div :class="classe3"></div>
	</div>

	<h2>#04</h2>
	<div>
		<input type="text" v-model="classe4">
		<input type="text" @input="setPerigo">
		<div :class="[classe4, {perigo}]"></div>
	</div>

	<h2>#05</h2>
	<div>
		<input type="text" v-model="cor5">
		<div :style="[estilo5, {backgroundColor: cor5}]"></div>
	</div>

	<h2>#06</h2>
	<div>
		<button @click="iniciarProgresso">Iniciar</button>
		<div class="barra-progresso">
			<div class="progresso" :style="{width}"></div>
		</div>
	</div>
</div>
<script src="app.js"></script>