<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>Document</title>
</head>

<body>
  
  <div id="app">
    
    <p v-once> {{ title }} (bind v-once -> render one time)</p> 
    <input type="text" v-on:input='changeTitle'>
    <p> {{ title }} </p>
    <a v-bind:href="link">Link</a>
    
    <hr>
    <h4>Template link render</h4>
      <p v-html='linkTemplate'></p>

    <hr>
    <div v-on:mousemove='mouseAttach'>
      <h4>Events : mouse ({{x}}, {{y}})</h4>
        <span v-on:mousemove.stop ><b>DON'T PASS YOUR MOUSE ON ME</b></span><br>
        <input type="text" placeholder="Value step for increase" v-on:input='increaseStep'>
        <p>{{ number }}</p>
        <button v-on:click='sum'>Increase me</button><br><br><br>
        <input type="text" placeholder="Alert your message" v-on:keyup.enter.alt='alertAction'>
        <span>find out how to send</span>
    </div>
  </div>

</body>

<script src="./index.js"></script>

</html>