<script src="https://unpkg.com/vue"></script>

<div id="desafio">    
    <div>
        <p>Valor atual: {{ valor }}</p>
        <button @click="valor += 5">Somar 5</button>
        <button @click="valor += 1">Somar 1</button>
        <p>{{ resultado }}</p>
    </div>

</div>
<script src="app.js"></script>