<script src="https://unpkg.com/vue"></script>

<div id="desafio">
    <p>Usando VueJS - {{ name }} {{ age }}</p>
    
    <p>{{ ageMul() }}</p>
    
    <p>{{ randomNumber() }}</p>
    
    <div>
        <input type="text" v-bind:value='name'>
        <input type="text" v-bind:placeholder='name'>
    </div>
</div>
<script src="app.js"></script>