<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>Document</title>
</head>

<body>
  <div id="app">
    <h2> Condicionais</h2>
    <input type="text" v-on:input='changeTitle'>
    <p> {{ title }} </p>
    
    <template v-if='signed'>
      <p> User Signed</p>
      <p> Viktor_Novaes</p>
    </template>
    
    <p v-if='signed'> Logado !</p>
    <p v-else-if='!signed'>Logar denovo</p>
    <p v-else>Logar abaixo</p>
    
    <button @click="signed = !signed">
      {{ signed ? 'Sair' : 'Entrar' }}
    </button>
    <hr>
    <h2> Condicionais</h2>
     <ul>
       <li v-for="(color, index) in colors" :style='{color: color}'>Element {{index + 1}} -> {{ color }}</li>
     </ul>
    <ul>
      <li v-for="(people, key, index) in peoples">
        {{ people.name }} {{ people.age }}
      </li>
    </ul>

  </div>
</body>

<script src="app.js"></script>

</html>